.menu-main {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 34px 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main a, .menu-main a:visited {color: #9d999d;}
  .menu-main a.current, .menu-main a:hover{color: #feb386;}
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  @media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 25px 0 20px; 
   /* margin: 0 30px;*/
  }
  }
.container-fluid{
  width: 1300px;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #f9f9f9;
}
.first-s{
  color: silver;
  text-decoration:none
}
.item1{
  width: 310px;
  height: auto;
}

#container2{
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blackfont{
font-family: lato;
  margin-top: 20px;
  color: black;
}
.h3{
  color: black;
}
.company{
  text-align: start;
  font-size: 48px;
  color: black;
}
.block{
  font-family: lato;
  width: 300px;
  height: 200px;
  color: #606060;
  padding-bottom: 10px;
}
.cases{
  float: right;
  margin-left: auto;
  margin-right: auto;
 
}
.bg-secondary{
  width: 200px;
  height: 200px;
}
.container3{
  padding-left: 100px;
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container4{
  padding-left: 100px;
 background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box{
  padding-top: 10px;
 
}
.rectengleimg{
  width: 200px;
  height: auto;
  margin-left: 10px;
}



.container6 {
  border: 2px solid #ccc;
  
  border-radius: 5px;
  padding: 10px;
  margin: 16px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-left: 20px;
  border-radius: 50%;
}

.text {
  color: black;
  margin-top: 40px;
  float: left;
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
.button{
  color: white;
  background-color: #005FA3;
}
.block1{
  width: 200px;
  height: 200px;
  border: #606060 solid;
  padding: 10px;
  color: black;
}
.number{
  font-family: lato;
  font-size: 55px;
}
.finish{
  font-family: lato;
  font-size: 17px;
  text-align: start;
}
.logo{
  margin-right: 10px;
  width: 30px;
  height: auto;
}
.container7{
  background-image: url("../image/temnyy-fon-gorod.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
padding: 50px;
}
.marriefont{
  font-family: marrie;
}
.text1{
  background: transparent;
  color: white;
  }
  .text2{
    background: transparent;
    color: white;
  }
  .none{
text-decoration: none;
color: white;
  }
  @font-face {
    font-family:"lato" ;
    src: url(/font/Lato-Regular.ttf);
  }
  @font-face {
    font-family:"marrie" ;
    src: url(/font/merriweatherregular.ttf);
  }
@media(min-width:768px) {
  .menu-main {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 34px 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main a, .menu-main a:visited {color: #9d999d;}
  .menu-main a.current, .menu-main a:hover{color: #feb386;}
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  @media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 25px 0 20px; 
   /* margin: 0 30px;*/
  }
  }
.container-fluid{
  width: 1300px;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #f9f9f9;
}
.first-s{
  color: silver;
  text-decoration:none
}
.item1{
  width: 310px;
  height: auto;
}

#container2{
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blackfont{
font-family: lato;
  margin-top: 20px;
  color: black;
}
.h3{
  color: black;
}
.company{
  text-align: start;
  font-size: 48px;
  color: black;
}
.block{
  font-family: lato;
  width: 300px;
  height: 200px;
  color: #606060;
  padding-bottom: 10px;
}
.cases{
  float: right;
  margin-left: auto;
  margin-right: auto;
 
}
.bg-secondary{
  width: 200px;
  height: 200px;
}
.container3{
  padding-left: 100px;
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container4{
  padding-left: 100px;
background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box{
  padding-top: 10px;
 
}
.rectengleimg{
  width: 200px;
  height: auto;
  margin-left: 10px;
}



.container6 {
  border: 2px solid #ccc;
  
  border-radius: 5px;
  padding: 10px;
  margin: 16px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-left: 20px;
  border-radius: 50%;
}

.text {
  color: black;
  margin-top: 40px;
  float: left;
  font-size: 20px;
  margin-right: 15px;
}
.container img {
      margin: auto;
      float: none;
      display: block;
  }
.button{
  color: white;
  background-color: #005FA3;
}
.block1{
  width: 200px;
  height: 200px;
  border: #606060 solid;
  padding: 10px;
  color: black;
}
.number{
  font-family: lato;
  font-size: 55px;
}
.finish{
  font-family: lato;
  font-size: 17px;
  text-align: start;
}
.logo{
  margin-right: 10px;
  width: 30px;
  height: auto;
}
.container7{
  background-image: url("../image/temnyy-fon-gorod.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
padding: 50px;
}
.marriefont{
  font-family: marrie;
}
.text1{
  background: transparent;
  color: white;
  }
  .text2{
    background: transparent;
    color: white;
  }
  .none{
text-decoration: none;
color: white;
  }
}

@media (min-width:992px){
  .menu-main {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 34px 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main a, .menu-main a:visited {color: #9d999d;}
  .menu-main a.current, .menu-main a:hover{color: #feb386;}
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  
.container-fluid{
  width: 1300px;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #f9f9f9;
}
.first-s{
  color: silver;
  text-decoration:none
}
.item1{
  width: 310px;
  height: auto;
}

#container2{
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blackfont{
font-family: lato;
  margin-top: 20px;
  color: black;
}
.h3{
  color: black;
}
.company{
  text-align: start;
  font-size: 48px;
  color: black;
}
.block{
  font-family: lato;
  width: 300px;
  height: 200px;
  color: #606060;
  padding-bottom: 10px;
}
.cases{
  float: right;
  margin-left: auto;
  margin-right: auto;
 
}
.bg-secondary{
  width: 200px;
  height: 200px;
}
.container3{
  padding-left: 100px;
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container4{
  padding-left: 100px;
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box{
  padding-top: 10px;
 
}
.rectengleimg{
  width: 200px;
  height: auto;
  margin-left: 10px;
}



.container6 {
  border: 2px solid #ccc;
  
  border-radius: 5px;
  padding: 10px;
  margin: 16px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-left: 20px;
  border-radius: 50%;
}

.text {
  color: black;
  margin-top: 40px;
  float: left;
  font-size: 20px;
  margin-right: 15px;
}


  .container img {
      margin: auto;
      float: none;
      display: block;
  }

.button{
  color: white;
  background-color: #005FA3;
}
.block1{
  width: 200px;
  height: 200px;
  border: #606060 solid;
  padding: 10px;
  color: black;
}
.number{
  font-family: lato;
  font-size: 55px;
}
.finish{
  font-family: lato;
  font-size: 17px;
  text-align: start;
}
.logo{
  margin-right: 10px;
  width: 30px;
  height: auto;
}
.container7{
  background-image: url("../image/temnyy-fon-gorod.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
padding: 50px;
}
.marriefont{
  font-family: marrie;
}
.text1{
  background: transparent;
  color: white;
  }
  .text2{
    background: transparent;
    color: white;
  }
  .none{
text-decoration: none;
color: white;
  }

@media (min-width:1200px){
  .menu-main {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 34px 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main a, .menu-main a:visited {color: #9d999d;}
  .menu-main a.current, .menu-main a:hover{color: #feb386;}
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   

  }
.container-fluid{
  width: 1300px;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #f9f9f9;
}
.first-s{
  color: silver;
  text-decoration:none
}
.item1{
  width: 310px;
  height: auto;
}

#container2{
 
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blackfont{
font-family: lato;
  margin-top: 20px;
  color: black;
}
.h3{
  color: black;
}
.company{
  text-align: start;
  font-size: 48px;
  color: black;
}
.block{
  font-family: lato;
  width: 300px;
  height: 200px;
  color: #606060;
  padding-bottom: 10px;
}
.cases{
  float: right;
  margin-left: auto;
  margin-right: auto;
 
}
.bg-secondary{
  width: 200px;
  height: 200px;
}
.container3{

  padding-left: 100px;
 background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container4{
  padding-left: 100px;
  background-image: url("../image/temnyy-fon-gorod.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box{
  padding-top: 10px;
 
}
.rectengleimg{
  width: 200px;
  height: auto;
  margin-left: 10px;
}



.container6 {
  border: 2px solid #ccc;
  
  border-radius: 5px;
  padding: 10px;
  margin: 16px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-left: 20px;
  border-radius: 50%;
}

.text {
  color: black;
  margin-top: 40px;
  float: left;
  font-size: 20px;
  margin-right: 15px;
}


  .container img {
      margin: auto;
      float: none;
      display: block;
  }

.button{
  color: white;
  background-color: #005FA3;
}
.block1{
  width: 200px;
  height: 200px;
  border: #606060 solid;
  padding: 10px;
  color: black;
}
.number{
  font-family: lato;
  font-size: 55px;
}
.finish{
  font-family: lato;
  font-size: 17px;
  text-align: start;
}
.logo{
  margin-right: 10px;
  width: 30px;
  height: auto;
}
.container7{
  
  background-image: url("../image/temnyy-fon-gorod.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
padding: 50px;
}
.marriefont{
  font-family: marrie;
}
.text1{
  background: transparent;
  color: white;
  }
  .text2{
    background: transparent;
    color: white;
  }
  .none{
text-decoration: none;
color: white;
  }
}